{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje de recuperación</title>
</head>
<body>
    <h2 class="text-start">Restablecimiento de contraseña enviado</h2>
    <p class="fs-6 lh-sm">Le enviamos instrucciones para configurar su contraseña al correo electrónico
        perteneciente al usuario que realizó la solicitud.
        Si existe una cuenta con el correo electrónico que registró, debería recibirlo en breve.
    </p>
    <p class="fs-6 lh-sm">
        Si no recibe un correo electrónico, asegúrese de haber ingresado su usuario correcto con el que 
        accede al sistema y verifique su carpeta de correo no deseado.
    </p>
    <p class="fs-6 lh-sm">
        En caso no reciba ningún correo electrónico y está seguro que los datos ingresados para enviar 
        la solicitud son los correctos, comuníquese con el administrador del sistema.
    </p>
    
</body>
</html>