{% extends "base.html" %}
{% load static %}

{% block title %} Formulario de Usuarios {% endblock title %}

{% block content %}

<div class="row match-height">
    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Datos</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form  action="" class="form form-horizontal" method="POST">{% csrf_token %}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nombres:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    {{form.nombres}}
                                </div>
                                <div class="col-md-4">
                                    <label>Apellidos:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    {{form.apellidos}}
                                </div>

                                <div class="col-md-4">
                                    <label>Correo:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    {{form.email}}
                                </div>
                                <div class="col-md-4">
                                    <label>Nombre de Usuario:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    {{form.username}}
                                </div>

                                <div class="col-md-4">
                                    <label>Contraseña:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    
                                    <input type="password" class="form-control" name="password1">
                                </div>
                                <div class="col-md-4">
                                    <label>Confirmar Contraseña:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                
                                    <input type="password" class="form-control" name="password2">
                                </div>

                                <div class="col-md-4">
                                    <label>Estado:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    {{form.usuario_activo}}
                                </div>
                                <div class="col-md-4">
                                    <label>Admin:</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    {{form.usuario_administrador}}
                                </div>   
                                {{form.errors}}                         
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success me-1 mb-1">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-8">
        <img  class="img-fluid w-100" src="{% static 'imagenes/form_user.svg' %}" alt="">
    </div>
</div>

{% endblock %}
