{% extends "base.html" %}
{% load static %}

{% block title %} Mantenimiento de servicios {% endblock title %}

{% block content %}
<div class="col-md-12">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'export_servicios_pdf' %}" id="id_report" class="btn btn-dark btn-sm me-md-2" target="_blank"><i class="bi bi-file-earmark-pdf"></i> Generar Reporte</a>  
        <button id="btn-modal-servicio" type="button" class="btn btn-primary btn-sm me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg"></i> Nuevo Servicio</button>
    </div>
</div>
<br>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registro de servicios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Animal</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>                 
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Servicio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="form-servicio">
                <div class="row g-3">               
                    <div class="col-sm-4"> 
                        <label for="id_animal" class="form-label">Animal</label>
                        <select class="form-select" name="id_animal" required id="id_animal">
                            <option value selected>---------</option>
                            <option value="0">General</option>
                            {% for a in animales %}
                                <option value="{{a.id_animal}}">{{a.descripcion}}</option>  
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="descripcion_id" class="form-label">Descripción</label>
                        {{form.descripcion}}
                    </div>
                    <div class="col-sm-4">
                        <label for="precio_id" class="form-label">Precio</label>
                        {{form.precio}}
                    </div>
                    
                    <div class="col-sm-12">
                        {{form.estado}}
                        <label for="id_estado" class="form-check-label">Activo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="content-errors" class="col-12">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-modificar-servicio" class="btn btn-secondary">Modificar</button>
            <button type="button" id="btn-guardar-servicio" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}

<script src="{% static 'js/servicio-atencion/FunctionServicio.js' %}"></script>

{% endblock js %}