{% extends 'base.html' %}
{% load static %}


{% block title %}
    Gestión de compras
{% endblock title %}
    


{% block content %}
<div class="card shadow mb-2">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Reporte</h6>
    </div>
    <div class="card-body">
        <div class="row" >
            <div class="col-md-6">
                <form  id="form-reporte">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <div class="form-group ">
                            <label for="id_fecha_incio" class="form-label">Desde:</label>
                            <input type="date" id="id_fecha_incio" class="form-control" name="fecha_inicio" required>
                        </div>
                        <div class="form-group ">
                            <label for="id_fecha_fin" class="form-label">Hasta:</label>
                            <input type="date" id="id_fecha_fin" class="form-control" name="fecha_fin" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a id="id_report" class="btn btn-dark btn-sm " target="_blank"><i class="bi bi-file-earmark-pdf"></i> Generar Reporte</a>
                    <a href="{% url 'compras:registrar_compra' %}" class="btn btn-primary btn-sm me-md-2" ><i class="bi bi-plus-lg"></i> Nueva Compra</a>
                </div>
            </div>
        </div>        
    </div>

</div>


<div class="card shadow mb-4 ">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registro de compras</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable-compra" width="100%">
                <thead>
                    <tr>
                        <th>Proveedor</th>
                        <th>Tipo de documento</th>
                        <th>N° Docuemento</th>
                        <th>S/.Total</th>
                        <th>S/.Impuesto</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>                 
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">N° Compra: <span id="span_numero_compra"></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-borderless" id="table-detalle-compra">
                <thead>
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>



    
{% endblock content %}



{% block js %}
    <script src="{% static 'js/compras/FunctionsCompras.js' %}"></script>
{% endblock js %}
    