{% extends "base.html" %}
{% load static %}

{% block title %} Mantenimento de proveedores {% endblock title %}

{% block content %}
<div class="col-md-12">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'compras:export_proveedores_pdf' %}" id="id_report" class="btn btn-dark btn-sm me-md-2" target="_blank"><i class="bi bi-file-earmark-pdf"></i> Generar Reporte</a>  
        <button id="btn-modal-proveedor" type="button" class="btn btn-primary btn-sm me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg"></i> Nuevo Proveedor</button>
    </div>
</div>
<br>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registro global de proveedores</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable-proveedor" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>N° Doc</th>
                        <th>Razón Social</th>
                        <th>Telef. Proveedor</th>
                        <th>Telef. Contacto</th>
                        <th>Dirección</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" id="form-proveedor" method="post">
                <div class="col-sm-12 col-md-4">
                    <label for="id_id_tipo_documento" class="form-label">Tipo de Documento</label>
                    {{form.id_tipo_documento}}
                </div>
                <div class="col-sm-12 col-md-4">
                    <label for="id_numero_documento_proveedor" class="form-label">N° Documento</label>
                    {{form.numero_documento_proveedor}}
                </div>

                <div class="col-sm-12 col-md-4">
                    <label for="id_razon_social" class="form-label">Razon Social</label>
                    {{form.razon_social}}
                </div>
                
                <div class="col-sm-12 col-md-4">
                    <label for="id_telefono_proveedor" class="form-label">Teléfono</label>
                    {{form.telefono_proveedor}}
                </div>
            
                <div class="col-sm-12 col-md-4">
                    <label for="id_telefono_contacto" class="form-label">Teléfono de contacto</label>
                    {{form.telefono_contacto}}
                </div>
                
                <div class="col-sm-12 col-md-4">
                    <label for="id_direccion" class="form-label">Direccion</label>
                    {{form.direccion}}
                </div>
                <div class="col-md-12 ">
                    
                    {{form.estado}}
                    <label for="id_estado" class="form-check-label">Activo</label>
                </div>
                <div class="row">
                    <div class="content-errors" class="col-12">
                        
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-modificar-proveedor" class="btn btn-secondary">Modificar</button>
            <button type="button" id="btn-guardar-proveedor" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block js %}

<script src="{% static 'js/compras/FunctionsProveedor.js' %}"></script>

{% endblock js %}